<div class="root">
    <div class="homepage">
        <form [formGroup]="form">
                <legend>Login</legend>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input name="email" formControlName="email" matInput>
                </mat-form-field>
               
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input name="password" formControlName="password" [type]="hide ? 'password' : 'text'" matInput>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"><mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
                </mat-form-field>
                
                <button class="buttons" id="loginbutton" (click)="login()" mat-raised-button>Login</button>
        </form>
        <div id="orbetween">
            <div class="aroundor">
                <span class="topspan"></span>
                <span class="bottomspan"></span>
            </div>
            <p>OR</p>
            <div class="aroundor">
                <div class="topspan"></div>
                <div class="bottomspan"></div>
            </div>
        </div>
        <button class="buttons" id="signupbutton" (click)="showSignup = true" mat-raised-button>Sign Up</button>
    </div>
    <div id="signupoverlay" *ngIf="showSignup">
        <div class="homepage">
            <form id="signupform" [formGroup]="signupform">
                <legend>Sign Up</legend>

                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input name="name" formControlName="name" matInput>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input name="email" formControlName="email" matInput>
                </mat-form-field>
               
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input name="password" formControlName="password" [type]="hide ? 'password' : 'text'" matInput>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"><mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
                </mat-form-field>
                
                <button class="buttons" id="loginbutton" (click)="signup()" mat-raised-button>Sign Up</button>
            </form>
    </div>
</div>