.root {
    padding-top: 32px;
}

.homepage {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 24rem;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    background-size: cover;
    border-radius: 50px;
    box-shadow:
    0px 0px 15px rgba(0, 0, 0, 0.5)
  ;
  transition: height 1s ease-in-out;
}

form {
    z-index: 1;
    display: flex;
    position: relative;
    flex-direction: column;
}

legend {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#orbetween {
    display: flex;
    flex-direction: row;
}

#orbetween > p {
    width: fit-content;
    margin: 10px;
    font-size: 14px;
}

.aroundor {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topspan {
    width: 100px;
}

.bottomspan {
    border: solid 1px;
    width: 100px;
}

#signupoverlay {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 12;
}

@media screen and (max-width: 660px) {
    .homepage {
        width: 20rem;
        height: 23rem;
        border-radius: 40px;
    }
}