.expenselist {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-top: 64px;
}

.filters {
    color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 7.5px;
    font-size: larger;
}

.filters > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    width: 100vw;
    background-color: black !important;
    position: absolute;
    top: 105px;
    left: 0px;
}

.expensescontainer {
    height: 80vh;
    width: 100vw;
}

@media screen and (max-width: 660px) {
    .expensescontainer {
        height: 82.5vh;
    }
}