.expenselist {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-top: 64px;
}

.filters {
    color: white;
}

.filters > form {
    display: flex;
    align-items: center;
}
