<div class="root">
    <div class="expenselist">
        <div class="filters"><!--This will house all of the filters that a person can select with a get expenses button by and the button that will say get as csv-->
            <div id="aboveform" style="display: flex; margin-left: auto; margin-right: auto; width: fit-content; cursor: pointer; border-style: solid; border-color: rgba(255, 255, 255, 0.75) !important; border-width: 0px 0px 1.5px 0px;" (click)="showFilters = !showFilters">
                Filters and Options
                <mat-icon [ngStyle]="{ transform: showFilters ? 'rotate(-180deg)' : 'rotate(0deg)', transition: 'all 0.5s ease-in-out' }">keyboard_arrow_down</mat-icon>
            </div>
            <div class="formcontainer" style="margin-right: auto; margin-left: auto; position: relative; width: 375px;">
            <form [formGroup]="form" (ngSubmit)="submitForm()" [ngStyle]="{ height: showFilters ? '82.5vh': '0vh', 'box-shadow': '0px 0px 15px rgba(0, 0, 0, 0.5)', 'background-color': 'rgb(175, 175, 175)' }" style="overflow: hidden; background-color: rgb(175, 175, 175) !important;">

                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date" name="startDate" formControlName="startDate">
                        <input matEndDate placeholder="End date" name="endDate" formControlName="endDate">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>

                <div id="necessarycontainer" style="margin-bottom: 20px; margin-top: -5px;">
                    <div id="slidercontainer" style="display: flex; flex-direction: column; align-items: center;">
                        <p [ngStyle]="{opacity: (form.value.includeUnnecessary) ? 1 : 0.65}" style="transition: opacity 0.5s ease-in-out;">Include Unnecessary</p>
                        <mat-slide-toggle appearance="outline" formControlName="includeUnnecessary">
                        </mat-slide-toggle>
                        <p [ngStyle]="{opacity: (form.value.includeUnnecessary) ? 0.65 : 1}" style="transition: opacity 0.5s ease-in-out;">Exclude Unnecessary</p>
                    </div>
                </div>

                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Min value</mat-label>
                    <input matInput type="number" placeholder="E.g. 10.00" formControlName="minValue">
                    <span matTextPrefix>$&nbsp;</span>
                </mat-form-field>

                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Max value</mat-label>
                    <input matInput type="number" placeholder="E.g. 1500.00" formControlName="maxValue">
                    <span matTextPrefix>$&nbsp;</span>
                </mat-form-field>
                
                <mat-form-field appearance="fill">
                    <mat-label>Sort By</mat-label>
                    <mat-select [(ngModel)]="selectedValue" name="food" formControlName="sortBy">
                      <mat-option *ngFor="let filters of filters" [value]="filters">
                        {{filters}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                <button type="submit" mat-raised-button>Go</button>
                <p style="margin-top: 10px; margin-bottom: 10px;">OR</p>
                <a [href]="getFileUrl()" download>
                    <button type="button" mat-raised-button>Get as CSV</button>
                </a>
            </form>
            </div>
            <div class="topinformation">
                <div class="information">Price</div>
                <div class="information">Type</div>
                <div class="information">Date</div>
                <div class="information">Necessary</div>
            </div>
        </div>
        <div class="expensescontainer" style="overflow-y: scroll;"><!-- This will be tha container for the actual expenses and will be scrollable -->
            <!-- In here the expenses will be mapped through and they will looke similar to the example-->
                    <div (click)="triggerModal(expense)" class="expense" *ngFor="let expense of expenses" style="display: flex; flex-direction: row; width: 100%; padding-top: 10px; padding-bottom: 10px; padding-left: 10px; font-size: medium; border-style: solid; border-color: rgba(0, 0, 0, 0.5) !important; border-width: 0px 0px 1px 0px; cursor: pointer;">
                        <span class="information">{{'$' + expense.price.toFixed(2)}}</span>
                        <span class="information">{{expense.whatFor}}</span>
                        <span class="information">{{expense.whatTime}}</span>
                        <span class="information">{{expense.necessary ? 'Yes' : 'No'}}</span>
                    </div> 
        </div>
        <div class="totalspending"><!-- This will be a little infographic containing where things were spent probably showing no more than 10 categories and top five expenses -->
            <canvas baseChart
                [type]="'pie'"
                [datasets]="topThreeChartDatasets"
                [labels]="topThreeChartLabels"
                [options]="topThreeChartOptions"
                [legend]="true"
                class="charts"
                style="height: 100%; color: black">
            </canvas>
            <canvas 
                *ngIf="loadChartTwo"
                baseChart
                [type]="'pie'"
                [datasets]="necVsUnnecChartDatasets"
                [labels]="necVsUnnecChartLabels"
                [options]="necVsUnnecChartOptions"
                [legend]="true"
                class="charts"
                style="height: 100%; color: black">
            </canvas>
        </div>
    </div>
    <div class="expensemodal" [ngStyle]="{'visibility': showModal ? 'visible' : 'hidden'}" style="height: 100vh; width: 100vw; position: fixed; z-index: 30; display: flex; visibility: hidden;">
        <div id="modalbackground" style="background-color: rgba(0, 0, 0, 0.33); height: 100%; width: 100%; position: absolute;" (click)="showModal = false; cancelEdit()"></div>
        <div id="modalcontent" style="background-color: rgb(175, 175, 175) !important; z-index: 1; margin: auto; border-radius: 50px; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;">
            <form [formGroup]="expenseViewForm">
                <legend>Expense View</legend>
                <mat-form-field appearance="fill" floatLabel="always" style="margin-bottom: 10px;" aria-disabled="true">
                    <mat-label>Price</mat-label>
                    <input name="price" formControlName="price" type="number" placeholder="52.90" matInput>
                    <span matTextPrefix>$&nbsp;</span>
                    <mat-error>
                        <small>This Field is Required</small>
                    </mat-error>
                </mat-form-field>
               
                <mat-form-field appearance="fill" floatLabel="always" style="margin-bottom: 10px;">
                    <mat-label>Expense Type</mat-label>
                    <input name="whatFor" formControlName="whatFor" placeholder="E.g. Groceries" matInput>
                    <mat-error>
                        <small>This Field is Required</small>
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="fill" floatLabel="always" style="margin-bottom: 10px;">
                    <mat-label>Date</mat-label>
                    <input name="whatTime" formControlName="whatTime" [matDatepicker]="formPicker" placeholder="3/14/1999" matInput>
                    <mat-datepicker-toggle matIconSuffix [for]="formPicker"></mat-datepicker-toggle>
                    <mat-datepicker #formPicker></mat-datepicker>
                    <mat-error>
                        <small>This Field is Required</small>
                    </mat-error>
                </mat-form-field>
    
                <div id="necessarycontainer" style="margin-top: -5px;">
                    <mat-label>Necessary</mat-label>
                    <div id="slidercontainer">
                        <p [ngStyle]="{opacity: (form.value.necessary) ? 0.5 : 1}">False</p>
                        <mat-slide-toggle appearance="outline" formControlName="necessary">
                        </mat-slide-toggle>
                        <p [ngStyle]="{opacity: (form.value.necessary) ? 1 : 0.5}">True</p>
                    </div>
                </div>
                <div id="buttonscontainer" style="display: flex; flex-direction: row; align-items: center;">
                    <button *ngIf="!edit" class="buttons" mat-raised-button (click)="editFields()">Edit</button>
                    <button *ngIf="edit" class="buttons" mat-raised-button (click)="cancelEdit()">Go Back</button>
                    <p>OR</p>
                    <button *ngIf="edit" class="buttons" mat-raised-button (click)="submitChanges()">Accept</button>
                    <button *ngIf="!edit" class="buttons" mat-raised-button color="warn" (click)="deleteExpense()">Delete</button>
                </div>
        </form>
        </div>
    </div>
</div>