@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
html, body, .fullheight { height: 100%; width: 100%; }
.root {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#banner {
  height: 64px;
  background-image: linear-gradient(140deg, blue, purple, darkred);
  width: 100%;
  position: fixed;
  z-index: 10;
  box-shadow: 0 2px 5px #0000004d;
  display: flex;
}

#banner p {
  color: white;
  font-size: 28px;
  height: fit-content;
  margin: auto;
}

#signout {
  height: 33px;
  width: fit-content;
  opacity: 1;
  position: fixed;
  display: flex;
  top: 15.5px;
  right: 40px;
  z-index: 11;
  align-items: center;
  font-size: 16px;
  border: 1px solid;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 19px;
  left: 40px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 11;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transition-duration: .5s;
  top: 12px;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -175px;
  width: 175px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .5s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .5s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

.hamburger-menu {
  width: 0;
}

@media screen and (max-width: 660px) {
  #banner p {
    font-size: 18px;
  }
  menu__btn {
    left: 20px;
  }
  #signout {
    right: 20px;
    font-size: 12px;
    height: 25px;
    top: 19.5px;
  }
  .menu__item {
    font-size: 16px;
  }
}
